package migrate_test

import (
  "github.com/JackC/pgx"
)

var defaultConnectionParameters *pgx.ConnectionParameters = &pgx.ConnectionParameters{
  // Use Socket OR Host
  // Socket: "/var/run/postgresql/.s.PGSQL.5432",
  // Host: "127.0.0.1",
  User: "tern",
  Password: "secret", // Password is usually not needed when using socket
  Database: "tern_migrate_test",
}
