package migrate_test

import (
  "github.com/jackc/pgconn"
  "github.com/jackc/pgx/v4"
)

var defaultConnectionParameters *pgx.ConnConfig = &pgx.ConnConfig{
  Config: pgconn.Config{
    // Host: "127.0.0.1",
    User: "tern",
    Password: "secret", // Password is usually not needed when using socket
    Database: "tern_migrate_test",
  },
}
